In [2]:
import pandas as pd

stack(), unstack()

In [8]:
pokemon = pd.read_csv('C:/Users/1/JupyterProjects/Karpov_curses_lessons_and_projects/module_python/all_data/Pokemon.csv')

In [9]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
pokemon.rename(columns=lambda x: x.lower().replace(' ', '_').replace('.', ''), inplace=True)

In [12]:
pokemon.rename(columns={'#': 'id'}, inplace=True)

In [36]:
pokemon

,id,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [37]:
legends = pokemon.groupby('generation').agg({'legendary': 'value_counts'}).rename(columns={'legendary': 'count'})

In [38]:
legends = legends.unstack(level='legendary')

In [39]:
legends

           count
legendary  False True
generation
1            160    6
2            101    5
3            142   18
4            108   13
5            150   15
6             74    8

In [40]:
pokemon.query('legendary == True')\
        .groupby(['generation', 'type_1'])\
        .agg({'legendary': 'count'})\
        .rename(columns={'legendary': 'legendary_count'})\
        .sort_values('legendary_count', ascending=False)

                     legendary_count
generation type_1
3          Dragon                  6
5          Dragon                  5
3          Psychic                 4
1          Psychic                 3
4          Psychic                 3
           Grass                   2
3          Water                   2
6          Psychic                 2
5          Ground                  2
           Flying                  2
           Electric                2
4          Normal                  2
           Ghost                   2
6          Rock                    2
3          Steel                   2
           Ground                  2
2          Fire                    2
3          Rock                    1
1          Fire                    1
           Ice                     1
6          Fire                    1
           Fairy                   1
           Dragon                  1
           Dark                    1
5          Steel                   1
           Rock                    1
           Psychic                 1
2          Electric                1
5          Grass                   1
4          Dark                    1
2          Psychic                 1
           Water                   1
4          Water                   1
           Steel                   1
           Fire                    1
3          Ice                     1
1          Electric                1

melt(), wide_to_long()

In [41]:
avocado_agg = pd.DataFrame({'type' : ['conventional', 'organic'],
                            'AvgPrice_2015' : [1.077963, 1.673324],
                            'AvgPrice_2016' : [1.105595, 1.571684],
                            'AvgPrice_2017' : [1.294888, 1.735521],
                            'AvgPrice_2018' : [1.127886, 1.567176],
                            })
avocado_agg

           type  AvgPrice_2015  AvgPrice_2016  AvgPrice_2017  AvgPrice_2018
0  conventional       1.077963       1.105595       1.294888       1.127886
1       organic       1.673324       1.571684       1.735521       1.567176

In [43]:
avocado_agg_long = pd.wide_to_long(avocado_agg, stubnames=['AvgPrice'], i=['type'], j='year', sep='_')

In [44]:
avocado_agg_long

                   AvgPrice
type         year
conventional 2015  1.077963
organic      2015  1.673324
conventional 2016  1.105595
organic      2016  1.571684
conventional 2017  1.294888
organic      2017  1.735521
conventional 2018  1.127886
organic      2018  1.567176

In [3]:
superheroes = pd.read_csv('C:/Users/1/JupyterProjects/Karpov_curses_lessons_and_projects/module_python/all_data/superheroes_power_matrix.csv')

In [4]:
superheroes

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
superheroes_long = superheroes.melt(id_vars='Name', var_name='superpower')

In [6]:
superheroes_powers = superheroes_long.query('value == True')\
        .groupby('Name')\
        .superpower.apply(list)\
        .to_frame().reset_index()

In [7]:
superheroes_powers

                Name                                         superpower
0            3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1             A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2         Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3           Abin Sur                               [Lantern Power Ring]
4        Abomination  [Accelerated Healing, Intelligence, Super Stre...
..               ...                                                ...
662  Yellowjacket II             [Flight, Energy Blasts, Size Changing]
663             Ymir  [Cold Resistance, Durability, Longevity, Super...
664             Yoda  [Agility, Stealth, Danger Sense, Marksmanship,...
665          Zatanna  [Cryokinesis, Telepathy, Magic, Fire Control, ...
666             Zoom  [Super Speed, Intangibility, Time Travel, Time...

[667 rows x 2 columns]

In [13]:
superheroes_powers_second = superheroes_long.query('value == True')\
        .groupby(['Name'], as_index=False)\
        .agg({'superpower':list})   # второй способ обернуть группировку в список

In [14]:
superheroes_powers_second.head()

          Name                                         superpower
0      3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1       A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2   Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3     Abin Sur                               [Lantern Power Ring]
4  Abomination  [Accelerated Healing, Intelligence, Super Stre...

In [15]:
np.array_equal(superheroes_powers, superheroes_powers_second) # сравнение двух датафреймов

True