# Анализ категориальных данных, практическое задание

## Постановка

Представим, что мы смогли собрать следующие данные половой принадлежности пользователей трех самых популярных на сегодняшний день операционных систем.

## Задание 1

Постройте сводную таблицу по полам и операционным системам

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [52]:
frame = pd.read_csv('dataset.csv')

In [53]:
frame

       os_client client_gender
0              1           men
1              2           men
2              0         women
3              0           men
4              2           men
...          ...           ...
14995          1         women
14996          1           men
14997          0           men
14998          2           men
14999          1         women

[15000 rows x 2 columns]

In [ ]:
# Ваш код

## Задание 2

Мы хотим проверить, зависит ли выбор операционной системы от пола. Предложите нулевую гипотезу и ожидаемые значения сводной таблицы для нее. Опишите, почему значения должны быть именно такими

In [ ]:
# Ваш код

## Задание 3

Посчитайте статистику критерия $\chi^2$ для данной таблицы

In [ ]:
# Ваш код

## Задание 4

Какое количество степеней свободы у распределения этой статистики? Почему именно такое?

Ваше решение

## Задание 5

Посчитайте достигаемый уровень значимости. Сделайте вывод о зависимости между полом человека и операционной системой которую он использует и обоснуйте его

In [ ]:
# Ваш код

## Задание 6

Попробуйте использовать Хи-квадрат тест через функцию scipy.stats.chisquare для проверки

In [ ]:
# Ваш код