In [6]:
#импорт библиотек
import pandas as pd

In [7]:
#чтение файла из локальной директории
bookings = pd.read_csv('2_bookings.csv', encoding='Windows-1251', sep=';')

In [8]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [9]:
bookings_head = bookings.head(7)

In [10]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [11]:
bookings.shape

(119390, 21)

In [14]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [18]:
bookings = bookings.rename(columns=lambda c: c.lower().replace(' ', '_')) # переименование с помощью lambda функции

In [19]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [26]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований?
bookings.query('is_canceled == 0')\
        .groupby('country', as_index=False)\
        .agg({'is_canceled': 'count'})\
        .sort_values('is_canceled', ascending=False).head(5)\
        .rename(columns={'is_canceled': 'successful_booking'})

    country  successful_booking
125     PRT               21071
57      GBR                9676
54      FRA                8481
50      ESP                6391
42      DEU                6069

In [30]:
#На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? 
bookings.query(' hotel == "City Hotel" ').stays_total_nights.mean().round(2)

2.98

In [33]:
#Resort Hotel?
bookings.query(' hotel == "Resort Hotel" ').stays_total_nights.mean().round(2)

4.32

In [42]:
#Иногда тип номера, присвоенного клиенту (assigned_room_type), 
#отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга.
#Сколько подобных наблюдений встретилось в датасете?
bookings.query(' reserved_room_type != assigned_room_type ').count()[0]

14917

In [54]:
#На какой месяц чаще всего оформляли бронь в 2016 году?
bookings.query('arrival_date_year == 2016').groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'October'

In [55]:
#Изменился ли самый популярный месяц в 2017?
bookings.query('arrival_date_year == 2017').groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'May'

In [60]:
#На какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015?   
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2015')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'September'

In [61]:
#2016?
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2016')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'October'

In [62]:
#2017?
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2017')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'May'

In [66]:
bookings.describe().loc[:, 'adults': 'babies']

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [68]:
#создадим колонку с суммарным количеством детей
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [76]:
#Для отелей какого типа среднее значение новой колонки оказалось наибольшим?
bookings.groupby('hotel')\
        .agg({'total_kids': 'mean'})\
        #.total_kids.round(2).max()  #используется для нахождения наибольшего среднего с округлением

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

In [77]:
bookings['has_kids'] = bookings['total_kids'] >= 1

In [87]:
#посчитаем метрику для клиентов без детей
round(bookings.query('has_kids == False and is_canceled == 1')\
              .count()[0]*100 / bookings.query('has_kids == False')\
                                        .count()[0], 2)

37.22

In [88]:
#посчитаем метрику для клиентов с детьми
round(bookings.query('has_kids == True and is_canceled == 1')\
              .count()[0]*100 / bookings.query('has_kids == True')\
                                        .count()[0], 2)

34.92