In [1]:
#импорт библиотек
import pandas as pd

In [2]:
#чтение файла из локальной директории
bookings = pd.read_csv('C:/Users/1/JupyterProjects/Karpov_courses_lessons_and_projects/module_python/all_data/2_bookings.csv', encoding='Windows-1251', sep=';')

In [3]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
bookings_head = bookings.head(7)

In [5]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [6]:
bookings.shape

(119390, 21)

In [7]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [8]:
bookings = bookings.rename(columns=lambda c: c.lower().replace(' ', '_')) # переименование с помощью lambda функции

In [9]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [10]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований?
bookings.query('is_canceled == 0')\
        .groupby('country', as_index=False)\
        .agg({'is_canceled': 'count'})\
        .sort_values('is_canceled', ascending=False).head(5)\
        .rename(columns={'is_canceled': 'successful_booking'})

    country  successful_booking
125     PRT               21071
57      GBR                9676
54      FRA                8481
50      ESP                6391
42      DEU                6069

In [11]:
# более короткий способ
bookings.loc[bookings.is_canceled == 0].country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [12]:
#На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? 
bookings.query(' hotel == "City Hotel" ').stays_total_nights.mean().round(2)

2.98

In [13]:
#Resort Hotel?
bookings.query(' hotel == "Resort Hotel" ').stays_total_nights.mean().round(2)

4.32

In [14]:
#Иногда тип номера, присвоенного клиенту (assigned_room_type), 
#отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга.
#Сколько подобных наблюдений встретилось в датасете?
bookings.query(' reserved_room_type != assigned_room_type ').count()[0]

14917

In [15]:
#На какой месяц чаще всего оформляли бронь в 2016 году?
bookings.query('arrival_date_year == 2016').groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'October'

In [16]:
#Изменился ли самый популярный месяц в 2017?
bookings.query('arrival_date_year == 2017').groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'May'

In [17]:
# более короткий способ
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode) # мода - самое частое значение в серии

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [18]:
#На какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015?   
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2015')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'September'

In [19]:
#2016?
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2016')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'October'

In [20]:
#2017?
bookings.query(' hotel == "City Hotel" and is_canceled == 1 and arrival_date_year == 2017')\
        .groupby('arrival_date_month').count().iloc[:, 0].idxmax()

'May'

In [21]:
# более короткий способ
bookings.query('hotel == "City Hotel" ')\
        .groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum() \
        .groupby('arrival_date_year').nlargest(1) # выводит строки с наибольшим значением в указанной колонке, в данном 
                                                  # случае колонка одна - серия

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             1543
2016               2016               October               1947
2017               2017               May                   2217
Name: is_canceled, dtype: int64

In [22]:
bookings.describe().loc[:, 'adults': 'babies']

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [23]:
#создадим колонку с суммарным количеством детей
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [24]:
#Для отелей какого типа среднее значение новой колонки оказалось наибольшим?
bookings.groupby('hotel')\
        .agg({'total_kids': 'mean'})\
        #.total_kids.round(2).max()  #используется для нахождения наибольшего среднего с округлением

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

In [25]:
bookings['has_kids'] = bookings['total_kids'] >= 1

In [26]:
# через lambda функцию
bookings['has_kids'] = bookings.total_kids.apply(lambda x: True if x >= 1 else False)

In [27]:
# через преобразование типов
bookings['has_kids'] = bookings.total_kids.astype(bool)

In [28]:
#посчитаем метрику для клиентов без детей
round(bookings.query('has_kids == False and is_canceled == 1')\
              .count()[0]*100 / bookings.query('has_kids == False')\
                                        .count()[0], 2)

37.22

In [29]:
#посчитаем метрику для клиентов с детьми
round(bookings.query('has_kids == True and is_canceled == 1')\
              .count()[0]*100 / bookings.query('has_kids == True')\
                                        .count()[0], 2)

34.95

In [30]:
# более короткие варианты
(bookings[['has_kids', 'is_canceled']].value_counts() / bookings[['has_kids']].value_counts()) * 100

has_kids  is_canceled
False     0              62.780998
          1              37.219002
True      0              65.049272
          1              34.950728
dtype: float64

In [31]:
round(bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True) * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.05
          1              34.95
Name: is_canceled, dtype: float64